* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendar {
	height: 382px;
	width: 700px;
}

.header {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header button {
	outline: none;
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
	padding: 0 10px;
	transition: all 0.3s;
	font-size: 1.3rem;
}

.header button:hover {
	border: 2px solid fuchsia;
}

.currentDay {
	font-size: 1.6rem;
	font-weight: bold;
	color: fuchsia;
}

.days {
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: fuchsia;
}

.dates {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 8px;
}

.dates button {
	box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 4px;
	outline: none;
	padding: 10px 0;
	border: 3px solid transparent;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s;
	font-size: 1.2rem;
}

.dates button:hover {
	border: 3px solid fuchsia;
}

.date {
	color: rgba(0, 0, 0, 0.2);
}

.currentMonth {
	color: rgba(0, 0, 0, 1);
}
